apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: platform-core
spec:
  selector:
    app: auth-service
  ports:
    - name: http
      port: 4001
      targetPort: 4001
  type: ClusterIP
