apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: monitoring-service-sm
  namespace: services
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: monitoring-service
  endpoints:
    - port: http
      path: /metrics
      interval: 30s
